<div class="header">

  <div data-sticky-container >
    <div class="title-bar" data-sticky-on="small" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="column">
        <h3>AKCIJA! Protektiranje teretnih pneumatika već od 112€!</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="logo">
      <img src="[[++putanja]]assets/img/logo-beli.png" alt="" />
    </div>
    <div class="menu-centered">
      <button class="menu-icon hide-for-large" type="button" data-open="offCanvas"></button>
      <ul class="menu show-for-large">
        <li><a href="#">O nama</a></li>
        <li><a href="#">Galerija</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>

      <h3>Protektiranje i prodaja novih pneumatika za teretna vozila,
         radne mašine, punih guma za viljuškare</h3>
    </div>
  </div>
  <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
</div>

<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">

        <!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
        <!-- Menu -->
        <ul class="vertical menu">
          <li><a href="#">O nama</a></li>
          <li><a href="#">Galerija</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>

</div>
