
// HEDER
.pad-0{
    padding: 0!important;
}
.pad-l{
  padding-left: 0!important;
}
.pad-r{
    padding-right: 0!important;
}
.header {
  height: 100vh;
  background: url(../img/baner.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right;
}
.logo{
  text-align: center;
  padding-top:20px;
  margin-bottom: 30px;
}
.menu{
  a{
    margin: 5px 30px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  a:hover{
    color:#3E99ED;
  }
}
.header{
  position: relative;
  // @include horizontal-center;
  text-align: center;
  h3{
    color: white;
    margin-top: 5%;
  }
  i{
    padding: 5px;
    font-size: 40px;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.off-canvas{
  background: #606060;
  ul{
    a{
      font-size: 14px;
    }
  }
}
// INDEX
.title-bar{
  padding: 0;
  background: black;

  h3{
    margin: 0;
    text-align: center;
    color: white;
    padding: 10px;
  }
}
.o-nama{
  text-align: justify;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    color:#3E99ED;
    text-transform: uppercase;
    text-align: center;
  }
  h4{
    margin-top: 20px;
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
  }
  p{
    font-size: 16px;
    color: gray;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  img{
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
}
.slider-for{


}
.slick-slide img {
    margin: 0 auto;
}
#lbImage {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    border: 10px solid #fff;
    background-repeat: no-repeat;
}
// FOOTER
.footer{
  background: black;
  .copy{
    text-align: center;
    p{
      font-size: 13px;
      color: white;
      margin: 10px
    }
  }
}

// MEDIA QUERY
@media (max-width: 640px){
  .logo{
    img{
      height: 120px;
    }
  }
}
@media (max-width: 1024px){
  .pad-l{
    padding: 0!important;
  }
  .pad-r{
    padding: 0!important;
  }
}
